<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Reliable Restaurants List for You.">
		<meta name="theme-color" content="#e1701a"/>
		<link
			rel="preload"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			as="style"
			onload="this.rel='stylesheet'"
		/>
		<link rel="icon" href="/icons/icon-192x192.png">
		<link rel="apple-touch-icon" href="/icons/icon-192x192.png">
		<link rel="manifest" href="/manifest.json">
		<title>RestoList</title>
	</head>
	<body id="home">
		<a href="#main" class="skip-link">Lompat ke konten</a>
		<header class="appbar">
			<nav class="navbar">
				<div class="nav-wrapper container">
					<div class="left">
						<button id="hamburger" href="#">☰</button>
						<a href="#" class="brand-logo">RestoList</a>
					</div>
					<ul class="topnav">
						<li><a href="/"><i class="fa fa-lg fa-home" aria-hidden="true"></i> Beranda</a></li>
						<li><a href="/#/favorite"><i class="fa fa-lg fa-heart" aria-hidden="true"></i> Favorit</a></li>
						<li>
							<a href="https://www.linkedin.com/in/dhanadhira/">
								<i class="fa fa-lg fa-info-circle" aria-hidden="true"></i> Tentang Kami
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<ul class="sidenav">
				<img class="sidenav-logo" src="/icons/icon-512x512.png" alt="Logo RestoList">
				<li><a href="/"><i class="fa fa-lg fa-home" aria-hidden="true"></i> Beranda</a></li>
				<li>
					<a href="/#/favorite">
						<i class="fa fa-lg fa-heart" aria-hidden="true"></i> Favorit
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/dhanadhira/">
						<i class="fa fa-lg fa-info-circle" aria-hidden="true"></i> Tentang Kami
					</a>
				</li>
			</ul>
		</header>
		
		<main id="main">
			<div id="loading"></div>

		</main>
		<footer>
            Copyright © 2021 - RestoList.
        </footer>
	</body>
</html>
