$small-screen-max-width: 600px;
$med-screen-min-width: 601px;
$large-screen-min-width: 993px;
$extra-large-screen-min-width: 1200px;

$palette-dark-orange: #e1701a;
$palette-light-orange: #f7a440;
$palette-bg-color: #f6dcbf;
$palette-gray: #aaa;

$star-size: 1.5rem;
$star-color: #a8a8a8;
$star-background: #fc0;
